.type-1{
	margin: 40px 80px;
}
.content-care {
	width: 420px;
	height: 250px;
	background: #FF99FF;
	border-radius: 15px;
	position: relative;
}
.content-title{
	top: 2%;
	left: 6%;
	position: absolute;
}
.img-logo {
	width: 100px;
	height: 55px;
}
.content-title ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.content-title ul li{
	float: left;
}
.cty-name{
	text-align: center;
    margin-top: 3px;
    line-height: 21px;  
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
	color: #000;
	margin-left: 20px;

	text-transform: uppercase;
	width: 250px;
    
   
}
.main-content{
	position: absolute;
	top: 22%;
	background: #fff;
	padding: 5px;
	margin-left: 3px;
	width: 98.6%;
}
.padding-top{
	padding: 21px 14px;
}
.main-content ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-content ul li{
	float: left;
}
.img-avatar img{
	width: 100px;
	height: 120px;
	margin-left: 8px;
}
.information{
	margin-left: 30px;
	margin-top: 10px;
	width: 240px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
 .name{
	font-size: 27px;
	color: #e36c0a;
	font-weight: 900;
	text-transform: uppercase;
}
.sub-content{
	color: 000;
	font-weight: 900;
}
.footer-content{
	position: absolute;
	text-transform: uppercase;
	color: #000;
	top: 90%;
	font-size: 13px;
	left: 25%;
}

/* matsauthe */
.size{
	float: left;
	font-size: 13px;
	margin: 0;
}
.title{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Times New Roman', Times, serif;
	padding: 5px 0px;
	color: #000;

}