.type-1{
	margin: 40px 80px;
}
.content-care {
	width: 300px;
	height: 420px;
	background: #FF99FF;
	border-radius: 15px;
	position: relative;
}
.content-title{
	top: 2%;
	left: 4%;
	position: absolute;
}
.main-content{
	position: absolute;
	top: 13%;
	background: #fff;
	padding: 25px 0;
	margin-left: 3px;
	width: 97.6%;
	height: 330px;
}
.footer-content{
	position: absolute;
	text-transform: uppercase;
	color: #000 !important;
	top: 93%;
	font-size: 13px;
	left: 5%;
}
.email{
	border-left: #fff solid 1px;
	padding-left: 10px;
	margin-left: 10px;
}

/* mat truoc */
/* ten công ty */
.cty-name{
	text-align: center;    
    line-height: 16px;  
    font-size: 9px;
    font-family: "Times New Roman", Times, serif;
	color: #000;
	margin:4px 14px 0 0 ;
	text-transform: uppercase;   
}

/* hình the */
.img-avatar img {
	width: 60%;
    height: 180px;

}
/* thông tin thẻ */
.information{
	
	margin-top: 10px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
/* Tên nhân viên */
.name{
	font-size: 25px;
	color: #e36c0a;
	font-weight: 900;
	text-transform: uppercase;
}
/* chức vụ */
.sub-content{
	color: 000;
	font-weight: 900;
}




/* mặt sau thẻ */

ul{
	list-style: none;
	padding: 0;
	margin: 0 !important;
}
 ul li{
	float: left;
}
/* quy định */
.size{
	float: left;
	font-size: 13px;
	margin: 0;
}
/* tiêu đề */
.title{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Times New Roman', Times, serif;
	padding: 5px 0px;
	color: #000;
	font-size: 23px;

}
.padding{
	padding: 0 10px;
}